<ng-container *ngIf="bookPage"> <!-- *ngIf nos sirve para mostrar el contenido solo si la variable bookPage existe -->
    <div>
        <h2>Lista de libros disponibles</h2>
        <div class="text-end button-container">
            <button mat-raised-button color="warn" matTooltip="Descargar PDF" (click)="downloadPDF()"> Descargar PDF
            </button>
            <!-- routerLink nos sirve para desplazarnos a otras vistas -->
            <button mat-raised-button color="primary" matTooltip="Agregar libro" routerLink="/admin/books/new"> Nuevo
                libro </button>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Java" #input>
            </mat-form-field>
        </div>

        <!-- Con este id accedemos a todo lo que este en table y se guarda como img para ponerse en el pdf -->
        <table id="htmlData" mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6 text-muted"> Nombre </th>
                <td mat-cell *matCellDef="let book"><br>
                    <div class="d-flex gap-5 mb-3">
                        <img [src]="book.coverPath | apiImg" alt="" class="mw-160px">
                        <div class="mt-4">
                            <div class="fw-bolder mb-2"> {{ book.title }} </div>
                            <p class="description" style="text-align: justify;"> {{ book.desc | slice:0:150 }} ... </p>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6 text-muted"> Precio </th>
                <td mat-cell *matCellDef="let book">
                    {{ book.price | currency }}
                </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6 text-muted"> Creado </th>
                <td mat-cell *matCellDef="let book">
                    {{ book.createdAt | date: 'dd/MM/yyyy h:mm a'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6 text-muted"> Acciones </th>
                <td mat-cell *matCellDef="let book">
                    <button mat-icon-button [routerLink]="['/admin/books/update/',book.id]" color="primary"
                        matTooltip="Editar libro">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="ms-2" (click)="deleteBook(book)" color="warn"
                        matTooltip="Eliminar libro">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of book elements"
            [length]="totalElements" [pageSize]="pageSize" (page)="paginateBooks($event)">
        </mat-paginator>
        <br>
    </div>
</ng-container>